/* #title {
  color: red;
}
.sub-title {
  color: green;
}
h3 {
  color: yellow;
} */

/* .box > h2 {
  color: red;
} */
/* .container h2 {
  color: green;
} */
/* h2.title {
  color: red;
}
h3.title {
  color: green;
} */

/* .menu > li > a {
  color: red;
} */

.box {
  background: yellow;
}
.product .item {
  color: green;
}
.post .item {
  color: blueviolet;
}
.box.product:hover {
  background: red;
}
