* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu-wrap .menu-inner {
  position: fixed;
  left: -200px;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 200px;
  background: #fff;
  padding: 20px;
  border-right: 1px solid #ccc;
  transition: left 0.3s ease;
}
.menu-wrap .overlay {
  background: #00000088;
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  transition-property: opacity, visibility;
}
#open-menu:checked + .menu-wrap .menu-inner {
  left: 0;
}
#open-menu:checked + .menu-wrap .overlay {
  opacity: 1;
  visibility: visible;
}
.box {
  visibility: hidden;
}
