* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.checkbox-list {
  width: 400px;
  margin: 30px auto;
  border: 1px solid red;
  padding: 20px;
}
.checkbox-list .checkbox {
  display: block;
  margin: 5px 0;
  position: relative;
  overflow: hidden;
}
.checkbox-list .checkbox span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox-list .checkbox span::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid green;
}
.checkbox-list .checkbox span::after {
  content: "";
  display: block;
  width: 8px;
  height: 3px;
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: green;
  rotate: -45deg;
  position: absolute;
  top: -10px;
  left: -10px;
  transition-property: top, left, rotate;
  transition: 0.3s ease;
}
.checkbox-list .checkbox input:checked + span::after {
  top: 5px;
  left: 4px;
  rotate: calc(360deg - 45deg);
}
